# config_cpu.yaml
workerPoolSpecs:
  - machineSpec:
        machineType: n1-standard-8
        acceleratorType: NVIDIA_TESLA_T4
        acceleratorCount: 1
    replicaCount: 1
    containerSpec:
      imageUri: europe-west1-docker.pkg.dev/sapient-cycling-484413-u2/mlops-group21/vertexai:latest
      env:
        - name: WANDB_API_KEY
          value: $WANDB_API_KEY
